.mono-space {
    font-family: 'Overpass Mono', monospace;
}

.em1l {
    margin-left: 1em;
}

/* キャラクター */
.chara-box {
    width: 775px;
}

/* チャット */
.chat-icon-area {
    width: 85px;
}

.chat-res-box {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.bm-res-box {
    margin-bottom: 250px;
}